.unsupported-desktop-browser {
    @include absoluteAligning();

    display: block;
    text-align: center;

    color: $unsupportedBrowserTitleColor;

    &__title {
        color: $unsupportedBrowserTitleColor;
        font-size: $unsupportedBrowserTitleFontSize;
        letter-spacing: 1px;
        text-align: center;
    }

    &__description {
        color: $unsupportedDesktopBrowserTextColor;
        font-size: $unsupportedDesktopBrowserTextFontSize;
        font-weight: 300;
        letter-spacing: 1px;
        margin-top: 16px;

        &_small {
            @extend .unsupported-desktop-browser__description;
            font-size: $unsupportedBrowserTextSmallFontSize;
        }
    }

    &__link {
        color: $ADFC-orange;
        @include transition(color .1s ease-out);

        &:hover {
            color: darken( $ADFC-orange, 10% );
            cursor: pointer;
            text-decoration: none;

            @include transition(color .1s ease-in);
        }
    }
}

.fUkahW .unsupported-desktop-browser {
    h2 {
        color: $ADFC-blue;
    }

    a.unsupported-desktop-browser__link {
        color: $ADFC-orange;

        &:hover {
            color: darken( $ADFC-orange, 10% );
        }
    }
}
