.settings-pane {
    display: flex;
    width: 100%;

    &.profile-pane {
        flex-direction: column;
    }

    .auth-name {
        margin-bottom: 4px;
    }

    .calendar-tab,
    .device-selection {
        margin-top: 20px;
    }

    .mock-atlaskit-label {
        color: $ADFC-blue  !important;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
        padding: 20px 0px 4px 0px;
    }

    .calendar-tab,
    .more-tab,
    .profile-edit {
        display: flex;
        width: 100%;
    }

    .profile-edit-field,
    .settings-sub-pane {
        flex: 1;
    }

    .profile-edit-field {
        margin-right: 20px;
    }

    .language-settings {
        max-width: 50%;
    }

    .calendar-tab {
        align-items: center;
        flex-direction: column;
        font-size: 14px;
        min-height: 100px;
        text-align: center;
    }

    .calendar-tab-sign-in {
        margin-top: 20px;
    }

    .sign-out-cta {
        margin-bottom: 20px;
    }

    .language-settings {
        display:none;
    }

    .eoRGoR {
        background-color: $ADFC-lightGrey !important;
        border-radius: 3px;
        box-shadow: 0 0 0 1px rgba(115,115,115,0.08),0 2px 1px rgba(115,115,155,0.08), 0 0 20px -6px rgba(115,115,115,0.31) !important;
        color: $ADFC-color !important;
    }
    

    input[type="checkbox"] {
        
    }

    label.iVWXDg {
        color: $ADFC-blue !important;
    }

    .eoRGoR {
        color: $ADFC-blue !important;
    }

    label.iVWXDg span.bzvfYd {
        
        span.daPWMQ, .hFknvi > svg {
            fill: $ADFC-orange  !important;
            color: lighten( $ADFC-blue, 10% ) !important;
            background-color: $ADFC-blue !important;
        }

        span.fWoEvM, .jkUDCC > svg {
            fill: $ADFC-orange !important;
            background-color: $ADFC-lightGrey !important;
        }
    
    }
   

}
